<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ__hd2HNZNbJHwCj3u_Pr0tnUMEWJhOY</string>
	<key>GCM_SENDER_ID</key>
	<string>532471924848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quickteam.everfin</string>
	<key>PROJECT_ID</key>
	<string>everfin-c30f5</string>
	<key>STORAGE_BUCKET</key>
	<string>everfin-c30f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532471924848:ios:4d581f44f5c14df6bd8cb5</string>
</dict>
</plist>